/*                   MAIN
--------------------------------------*/
.city-info{
    margin: 30px 20px 0;
}

.info__poster {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    color: white;
    text-align: center;
    padding: 60px 10px 130px;
    .poster__country p {
        font-size: 14px;
        text-transform: uppercase;
    }
    .poster__city h1 {
        font-size: 44px;
        font-weight: 600;
        margin: 2px auto 10px;
    }
    .poster__slogan p {
        font-size: 18px;
    }
}

.info__about {
    margin: 20px 0 0;
    text-align: center;
    .about__welcome hr{
        margin: 6px auto;
        width: 100px;
        background-color: #1AA7A1;
    }
    .about__text {
        margin: 15px 60px;
        hr {
            margin: 10px auto 0;
            width: 25px;
        }
    }
}

.info__carusel {
    position: relative;
    margin: 30px 0 0;
    .carusel__title {
        margin: 0 0 20px;
    }
    .carusel__holder {
        min-height: 280px;
        border-radius: 15px;
        color: white;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        .holder__image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            flex: 0 0 33.33%;
            padding: 220px 10px 20px;
            h3 {
                font-size: 14px;
                font-weight: 600;
            }
            p {
                margin: 5px 0 0;
                font-size: 14px;
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .carusel__right-button, .carusel__left-button {
        box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.25);
        border: none;
        outline: none;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translate(0, 20%);
    }
    .carusel__right-button {
        right: -15px;
        background: white url("../images/icon-right-arrow.svg") no-repeat center;
    }
    .carusel__left-button {
        left: -15px;
        background: white url("../images/icon-left-arrow.svg") no-repeat center;
    }
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {
    .info__poster {
        padding: 20px 10px 75px;
        .poster__country p {
            font-size: 13px;
        }
        .poster__city h1 {
            font-size: 30px;
            margin: 6px auto 4px;
        }
        .poster__slogan p {
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 576px) {
    .city-info{
        margin: 30px 15px 0;
    }
    .info__about {
        .about__text {
            margin: 15px 40px;
        }
    }
    .info__carusel {
        .carusel__holder {
            .holder__image {
                flex: 0 0 50%;
            }
        }
        .carusel__holder {
            margin: 0 5px;
        }
        .carusel__right-button, .carusel__left-button {
            width: 40px;
            height: 40px;
            background-size: auto 15px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .info__carusel .carusel__holder .holder__image {
        flex: 0 0 100%;
    }
}
